.row{
    flex-direction: row;
    align-items: flex-start;
}

.column{
    flex-direction: column;
    align-items: center;
}

.box{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 2px solid #000;
    background-color: white;
    min-width: 800px;
    box-shadow: 24;
    padding: 32px;
}

.recipeTableContainer{
    max-width: 600px;
    margin: auto;
}

.recipeTable{
   min-width: 500px;
}
