.row{
    flex-direction: row;
    align-items: flex-start;
}

.column{
    flex-direction: column;
    align-items: center;
}

.recipeTableContainer{
    max-width: 600px;
    margin: auto;
}

.recipeTable{
   max-width: 500px;
}

.recipeTableCell{
    text-align: right;
}