.grid{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.Title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.recipeBox{
    border: 2px solid lightseagreen;
    border-radius: 8px;
    padding: 10px;
    height: 125px;
}